@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    
}
main , .footer-container{
    width: 1140px;
    margin: 0 auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*----------- shared css -------------*/
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 19px 36px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.btn-primary:hover{
    background-color: #f17218;
    transform: scale(1.02);
}
.text-white:hover{
    color: white;
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;  
}
.section-bg{
    background-color: #FFF8F3;
}

/*----------- nav styles------------ */
nav{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   margin: 0 150px;
   padding-top:40px
   
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.5s ease-in;
}
nav ul li a:hover{
    color: #f56f10;
    font-weight: 600;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.logo-color{
    color: #FD6E0A;
}

.no-bg-color{
    background-color: transparent;
    border: 1px solid #FD6E0A;
}

/* ---------------banner part styles---------------- */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.banner-content{
    max-width: 580px;
    padding-top: 185px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600; 
    margin-bottom: 0; 
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-contact{
    margin-left: 20px;
    color: #FD6E0A;
}
.banner-profile-pic{
    width: 580px;
    margin-top: 50px;
}

/* ----------------about section styles---------------- */
.about{
    margin-top: 120px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin: 30px 0;
}
.about-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-item{
    font-size: 18px;
    color: #757575;
}
.item-description{
    color: #474747;
    font-weight: bold;
    
}

/*----------- skills section styles------------ */
.skills{
    margin-top: 120px;
    text-align: center;
}
.skills-description{
    padding: 0 150px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 50px;
}
.skill{
    width:267px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    padding: 30px;
}
.skill-container .mr-24{
    margin-right: 24px;
}
.skill-container .margin-rl-24{
    margin: 0 24px;
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #474747;
    font-size: 16px;
}

/*------------- resume-section styles------------  */
.resume-section{
    margin-top: 120px;
}
.resume-container{
    margin-top: 110px;
    margin-bottom: 50px;
    display: flex;
}
.resume-left-title, .resume-right-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    width: 511px;
    margin-bottom: 30px;
}
.resume-left-title{
    margin-right: 70px;
}
/* .education-2{
    margin: 30px 0;
} */
.education-title, .experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.education-subtitle, .experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}
.education-description, .experience-description{
    color: #757575;
    font-size: 16px;
}
.resume-1-border{
    width: 558px;
    color:#D1D1D1;
    margin: 30px 0;
}.resume-2-border{
    width: 558px;
    color:#D1D1D1;
    margin: 30px 0;
}
.download-btn-center{
    margin: 0 auto;
    display: block;
    margin-bottom: 110px;
}

/* ------------footer---------- */
.footer{
    padding: 120px 0;
}
/* .footer-left-col{
    margin-right: 110px;
} */
.footer-description{
    font-size: 16px;
}
.footer-left-col, .footer-right-col{
    width: 50%;
    
}
.middle-social-link{
    margin: 0 24px;
}
.footer-right-col{
    margin-left: 100px;
}
.left-align{
    text-align: left;
}
.footer-container{
    display: flex;
}
.contact-form{
    margin-top: 28px;
}
.contact-form input[type="text"], .contact-form input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 25px;
    color: #757575;
    background-color: white;
    border-radius: 8px;
    border: 0;
    width: 100%;

}